form {
  margin-top: 60px;
}

.form-search {
  margin-bottom: 42px;
}
.form-search .form-icon {
  margin-bottom: 0;
}
.form-search .form-icon > img {
  width: 20px;
  height: 20px;
}

.form-control {
  position: relative;
  margin-bottom: 24px;
}

.input,
.select,
.textarea {
  width: 100%;
  padding: 20px;
  color: #000000;
  margin: 0;
  font-size: inherit;
  border-radius: 5px;
  border: 2px solid #e0e9f0;
  background-color: #ffffff;
}
.input {
  height: 52px;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: none;
  background-color: #ffffff;
  color: #000000;
  border-color: 009688;
}

.input:disabled,
.select:disabled,
.textarea:disabled {
  background-color: #f8f8f8;
  color: #999;
  border-color: #999;
}

.input::placeholder,
.textarea::placeholder {
  color: #bdc6ca;
  font-size: 16px;
  font-weight: 300;
}

.textarea {
  resize: none;
  height: 140px;
}

.input-danger,
.input-danger:focus {
  color: red;
  border-color: red;
}

.input-success,
.input-success:focus {
  color: #009688;
  border-color: #009688;
}

.input-blank {
  background-color: none;
  border-color: transparent;
}
.input-blank:focus {
  background-color: #e5e5e5;
  border-style: dashed;
}

.form-error-message {
  color: red;
  position: absolute;
  bottom: -24px;
  display: none;
}

.input:valid:not(:placeholder-shown) {
  border-color: #009688;
}

.input:invalid:not(:placeholder-shown) {
  border-color: red;
}

.input:invalid:not(:placeholder-shown) + .form-error-message {
  display: block;
}

.form-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.form-icon:hover {
  color: #666;
}

.form-icon:not(a):not(button):not(input) {
  pointer-events: none;
}

.form-icon-flip {
  right: 0;
  left: auto;
}

.form-icon:not(.form-icon-flip) ~ .input {
  padding-left: 40px !important;
}
.form-icon-flip ~ .input {
  padding-right: 40px !important;
}
